{% extends "query.html" %}

{% block model %}
<!-- start Modal myLargeModalLabel -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        {[{ detail }]}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->
<!-- start Modal mySmallModalLabel -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">确认删除</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-danger" >确认</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->

{%  endblock model%}
    {% block query_tab %}
    <form class="form-inline"> {% csrf_token %}
        <div class="form-group">
            <label for="bookname">name</label>
            <input type="text" ng-model="name" class="form-control" >
        </div>
        <!--
        <div class="form-group">
            <label for="author">label</label>
            <input type="text" ng-model="label" class="form-control" id="author" placeholder="叶海丰">
        </div>
        <div class="form-group">
            <label for="author">status</label>
            <select class="form-control" ng-init="status=status_selects[0]" ng-model="status" ng-options="x for x in status_selects"></select>
        </div>
        -->
        <button type="button" class="btn btn-default" id="qbook" ng-click="query()" ng-keypress="EnterKeyQuery($event)">查询</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加</button>
    </form>
   {% endblock query_tab %}

{% block query_table %}
<table  class="table table-hover table-bordered" id="displaytable">
    <tr style="text-align: center;background-color: cadetblue">    
        <th ng-repeat="x in title">{[{ x | uppercase }]}</th>
        <th>OP</th>
    </tr>
    <tr class="displayinfo" ng-repeat="i in items">
        <th>{[{ i.field1 }]}</th>
        <th>{[{ i.field2 }]}</th>
        <th><p ng-repeat="m in i.field3">{[{ m }]}</p></th>
        <th>{[{ i.field4 }]}</th>
        <th>{[{ i.field5 }]}</th>
        <th>
            <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target=".bs-example-modal-sm">
                <span class="glyphicon glyphicon-remove" aria-hidden="delete"></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target=".bs-example-modal-lg">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="detail"></span>
            </button>
        </th>
    </tr>
</table>
{% endblock query_table %}

{% block addscript %}
	<script src="/static/kubeapp/querypv.js"></script>
{% endblock %}
